    <!-- partials/cart/orderSuccess -->
    <div id="main-content">
        <div id="outer-container">
            <div id="inner-container">
              <h1>Order Successful!</h1>
              <p>Thanks for your purchase! Happy reading!</p>
              <div id="btn-container">
                  <a href="/page/content/?state=mybooks" id="my-books-link">
                     <button id="my-books">My Books</button>
                  </a>
              </div>
            </div>
        </div>
    </div>
