<!-- partials/menu-book.ejs -->

<li class="book">
    <div class="cover">
        <img class="book-cover" src="/img/images.jpg" alt="Book Cover">
    </div>
    <div class="details">
        <h2 class="book-title">Sample Book Title<%= data %></h2>
        <p class="book-author">by Sample Author</p>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit fugiat nam repellendus itaque impedit perferendis, sunt cupiditate quibusdam ducimus. Quae minus, sunt nesciunt, laborum cumque a minima consequatur aspernatur amet eius sequi assumenda dolorem similique hic suscipit, neque voluptatem quisquam sed commodi non. Debitis blanditiis vero maiores ratione, tempore deleniti.</p>
        <p class="type">fiction, horror</p>
        <h4 class="price">$6.99</h4>
    </div>
</li>