<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign In</title>
    <link rel="stylesheet" href="/login.css">


    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href=""> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <div class="formContainer" id="sign-in-up">
            <form class="" id="sign-in" method="POST" action="#">
                
                <h1>Sign in</h1>
                
                <div class="sign-in" id="user-id">
                    <i class="fa-solid fa-user fa-xl"></i>
                    <input type="text" placeholder="UserID" name="id" id="sign-in-id">
                </div>
                
                <div class="sign-in" id="password">
                    <i class="fa-solid fa-lock fa-xl"></i>
                    <input type="text" placeholder="Password" name="password" id="sign-in-password">
                </div>

                <h3 id="sign-in-status"></h3>
                
                <div class="btnDiv">
                        <button class="Submit" id="sign-inBtn">Sign In</button>
                    </div>
                    <br>
                    <div id="rgpwDiv">
                        <a href="#" id="fgpw">forgot your password?</a>
                    </div>

                </form>


                <form class="" id="sign-up" method="POST" action="/page/signup">
                    <h1>Sign up</h1>
                    <div class="sign-up" id="user-id">
                        <i class="fa-solid fa-user fa-xl"></i>
                        <input type="text" placeholder="UserID" name="id" id="sign-up-id">
                    </div>
                    <div class="sign-up" id="password">
                        <i class="fa-solid fa-lock fa-xl"></i>
                        <input type="text" placeholder="Password" name="password" id="sign-up-password">
                    </div>

                    <h3 id="sign-up-status"></h3>

                    <div class="btnDiv">
                        <button class="Submit" id="sign-upBtn">Sign Up</button>
                    </div>
                </form>
            </div>
            
            <div class="switchContainer">
                <div class="overlay-container">
                    <div class="overlayLeft" id="left">
                        <h1>Welcome back !</h1>
                        <p>login to your account to browse all the books you like</p>
                        
                        <div id="btnDiv">
                            <button id="sign-in-btn">Sign in</button>
                        </div>
                    </div>
                    
                    <div class="overlayRight" id="right">
                        <h1>Don't have an account?</h1>
                        <p>create one to browse all the books you like</p>
                        <div id="btnDiv">
                            <button id="sign-up-btn">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/login-script.js" type="module"></script>
        <script src="/sign-up-respond.js" type="module"></script>
        <script src="/input-validation.js" type="module"></script>
    </body>
    </html>