:root {
	font-family: "Lora", "Roboto";
	--color--main: #f0ffff;
	--color--black: #000000;
	--color--white: #ffffff;
	--color--darkgreen: #005454;
	--color--lightred: #ef5454;
	--light--grey: #f5f5f5;
	--dark--grey: #767676;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

#main-content {
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main-content #outer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	min-width: 450px;
	min-height: 500px;
	margin: 50px auto;
	background-color: var(--color--white);
	padding-bottom: 50px;
	color: var(--color--black);
	border: 2px solid var(--light--grey);
	border-radius: 15px;
	font-family: "Roboto", sans-serif;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#main-content #outer-container #cart-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 88%;
	margin: 30px auto;
}

#main-content #outer-container #cart-container h1 {
	font-family: "Lora", serif;
	font-size: xx-large;
}

#main-content #outer-container #cart-container #total {
	font-size: 22px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 400;
}

#main-content #outer-container #cart-container #total-price {
	font-weight: bold;
}

#main-content #outer-container #cart-container #checkout {
	background-color: var(--color--lightred);
	color: var(--color--white);
	border: none;
	border-radius: 100px;
	width: 160px;
	height: 45px;
	font-size: large;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s linear;
	margin: auto 0;
	margin-bottom: 30px;
}

#main-content #outer-container #cart-container #checkout:hover {
	background-color: var(--color-white);
	color: var(--color--black);
	border: 2px solid var(--color--lightred);
}

#main-content #outer-container #cart-container .line {
	display: flex;
	justify-content: center;
	margin: 5px auto;
	background-color: var(--light--grey);
	width: 100%;
	height: 2px;
	margin-bottom: 30px;
}

#main-content #outer-container #cart-container #price-label {
	width: 100%;
	text-align: right;
	font-size: small;
	color: var(--dark--grey);
}

#main-content #outer-container #cart-container .item-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

#main-content #outer-container #cart-container .item-container .book-cover {
	float: left;
	width: 100%;
	height: auto;
	max-width: 135px;
	max-height: 250px;
	border-radius: 10px;
	object-fit: cover;
	margin-right: 30px;
	transition: all 0.3s ease;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	margin-left: 20px;
}

#main-content #outer-container #cart-container .item-container .book-title {
	font-size: 20px;
}

#main-content #outer-container #cart-container .item-container .book-author {
	margin-top: 10px;
	font-size: 15px;
}

#main-content #outer-container #cart-container .item-container .info-container {
	display: flex;
	flex-direction: column;
	width: 60%;
	text-align: left;
}

#main-content #outer-container #cart-container .item-container .item-price {
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	margin: 0;
	margin-left: auto;
	padding-left: 20px;
}

#main-content #outer-container #cart-container .delete-btn {
	height: 30px;
	width: 30px;
	cursor: pointer;
	margin: 0;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top: -60px;
	background-color: transparent;
	border: none;
}

#main-content #outer-container #cart-container .delete-btn img {
	max-width: 25px;
	max-height: 25px;
}

/* For no item in cart */
#main-content #outer-container #cart-container #no-item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 30px;
}

#main-content #outer-container #cart-container #no-item-container img {
	width: 150px;
}

#main-content #outer-container #cart-container #no-item-container h3 {
	font-size: 20px;
}

#main-content #outer-container #cart-container #no-item-container #shop-now {
	background-color: var(--color--lightred);
	color: var(--color--white);
	border: none;
	border-radius: 100px;
	width: 160px;
	height: 45px;
	font-size: large;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s linear;
	margin: auto 0;
	margin-bottom: 30px;
}

#main-content
	#outer-container
	#cart-container
	#no-item-container
	#shop-now:hover {
	background-color: var(--color-white);
	color: var(--color--black);
	border: 2px solid var(--color--lightred);
}

@media (max-width: 1300px) {
	#main-content #outer-container {
		width: 80%;
	}
}

@media (max-width: 870px) {
	#main-content #outer-container {
		width: 90%;
	}
}
