:root {
	font-family: "Lora", "Roboto";
	--color--main: #f0ffff;
	--color--black: #000000;
	--color--white: #ffffff;
	--color--darkgreen: #005454;
	--color--lightred: #ef5454;
	--light--grey: #f5f5f5;
	--dark--grey: #767676;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

#main-content {
	width: 100%;
}

#main-content #outer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	margin: 50px auto;
	background-color: var(--color--white);
	padding-bottom: 50px;
	color: var(--color--black);
	border: 2px solid var(--light--grey);
	border-radius: 15px;
	font-family: "Roboto", sans-serif;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#main-content #outer-container #inner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#main-content #outer-container #inner-container h1 {
	padding-top: 200px;
}

#main-content #outer-container #inner-container p {
	padding-bottom: 130px;
	text-align: center;
	color: var(--dark--grey);
}

#main-content #outer-container #inner-container #btn-container #my-books {
	background-color: var(--color--lightred);
	color: var(--color--white);
	border: none;
	border-radius: 100px;
	width: 160px;
	height: 45px;
	font-size: large;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s linear;
	margin: auto 0;
	margin-bottom: 50px;
}

#main-content #outer-container #inner-container #btn-container #my-books:hover {
	background-color: var(--color-white);
	color: var(--color--black);
	border: 2px solid var(--color--lightred);
}
