:root{
    font-family:'Lora','Roboto';
    --color--main:#f0ffff;
    --color--black:#000000;
    --color--white:#ffffff;
    --color--darkgreen: #013030;
    --color--lightred:#ef5454;
    --light--grey:#f5f5f5;
}

#footer{
    width: 100%;
    height: 300px;
    background-color: var(--color--black);
    position: relative;
}

#footer #footer-logo{
    color: var(--color--white);
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 20%;
}