:root {
    --color--main: #f0ffff;
    --color--black: #000000;
    --color--white: #ffffff;
    --color--darkgreen: #013030;
    --color--lightred: #ef5454;
    --light--grey: #f5f5f5;
    font-family: "Lora", "Roboto", sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#home-content {
    width: 80%;
    min-height: 500px;
    padding: 20px;
}

#home-content #home-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* #main-content #main-header #filter-container .filter{
    background-color: var(--light--grey);
    border-radius: 20px;
    border: none;
    padding: 3px;
    width: 80px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#main-content #main-header #sort-container{
    display: flex;
    gap: 5px;
    font-family: 'Roboto', sans-serif;
}

#main-content #main-header #sort-container #sort{
    border: none;
    cursor: pointer;
    width: 70px;
    background-color: transparent;
}

#main-content #main-header #sort-container p{
    font-size: 14px;
} */
