:root {
	--color--main: #f0ffff;
	--color--black: #000000;
	--color--white: #ffffff;
	--color--darkgreen: #013030;
	--color--lightred: #ef5454;
	--light--grey: #f5f5f5;
	font-family: "Lora", "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

#search-section {
	box-sizing: border-box;
	width: 100%;
	height: 200px;
	padding: 10px;
	background-color: var(--color--darkgreen);
}
#search-section #search-form {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
#search-section #search-form #search-category {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	width: object-fit;
	min-width: 400px;
	height: 40px;
}

#search-section #search-form #search-container {
	display: flex;
	gap: 20px;
	justify-content: center;
	height: 40px;
	font-family: "Roboto", sans-serif;
}

#search-section #search-form #search-container #search-input {
	width: 200px;
	height: 100%;
	padding: 0px 20px;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 5px;
}

#search-section #search-form #search-container #search-btn {
	width: 100px;
	font-size: 16px;
	font-weight: 500;
	color: var(--color--white);
	cursor: pointer;
	background-color: var(--color--lightred);
	border: none;
	border-radius: 5px;
	transition: all 0.2s linear;
}

#search-section #search-form #search-container #search-btn:hover {
	color: var(--color--darkgreen);
	background-color: var(--color--white);
}

#search-section #search-form #search-category .filter {
	width: 150px;
	height: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 5px;
}

#search-section #search-form #search-category #sort-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 500;
	background-color: var(--color--white);
	border-radius: 5px;
}

#search-section #search-form #search-category #sort-container label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 100%;
}

#search-section #search-form #search-category #sort-container #sort {
	width: 70px;
	height: 100%;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 5px;
}
