:root {
    --color--main: #f0ffff;
    --color--black: #000000;
    --color--white: #ffffff;
    --color--darkgreen: #013030;
    --color--lightred: #ef5454;
    --light--grey: #f5f5f5;
    font-family: "Lora", "Roboto", sans-serif;
}

#footer {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: var(--color--black);
}

#footer #footer-logo {
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: "Lora", serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--color--white);
}
