* {
    /* font-family: "Oswald", sans-serif; */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* font-family: "Oswald", sans-serif; */
    font-family: "Lora", "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sign-in,
.sign-up {
    display: flex;
    align-items: center;
    width: 95%;
    height: 50px;
    padding: 10px;
    margin: 20px;
    background-color: #f5f5f5;
    border: 2px solid black;
    border-radius: 5px;
}

#sign-in input,
#sign-up input {
    width: 100%;
    height: 40px;
    margin-left: 5px;
    font-size: 1.5em;
    background-color: transparent;
    border: transparent;
}

#sign-in input:focus,
#sign-up input:focus {
    outline: none;
    /* box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); */
}

.icon-container {
    margin: 10px 20px;
    text-align: center;
}
.icon-container a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50px;
    transition: all 0.3s ease-in;
}

.icon-container a:hover {
    color: #f5f5f5;
    background-color: black;
    border: 2px solid #f5f5f5;
}

.btnDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    width: 130px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    transition: all 0.1s ease-in;
}

button:hover {
    color: #f5f5f5;
    background-color: black;
    border: #f5f5f5;
}

#fgpw {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in;
}
#fgpw:hover {
    border-bottom: 2px solid black;
}

.Container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: azure;
}

.formContainer {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 60%;
    height: 100%;
    text-align: center;
    background-color: azure;
    transition: all 0.6s ease-out;
}

#sign-in,
#sign-up {
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-content: center;
    width: 60%;
    height: 100%;
    text-align: center;
    background-color: azure;
    transform: translateX(-50%);
}

#sign-in,
.overlayRight {
    z-index: 2;
    opacity: 1;
    transition: all 0.4s linear;
}
#sign-up,
.overlayLeft {
    z-index: 1;
    opacity: 0;
    transition: all 0.4s linear;
}

.switchContainer {
    position: absolute;
    top: 0%;
    right: -1%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    color: white;
    background: linear-gradient(to right, rgb(74, 77, 77) 10%, black 90%);
    border-radius: 15px;
    transition: all 0.5s ease-out;
}

.overlay-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.overlayLeft,
.overlayRight {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;
    background-color: transparent;
}
.overlayLeft *,
.overlayRight * {
    margin-top: 10px;
}

#left {
    transform: translateX(-80%);
}

.switchContainer.changed {
    background: linear-gradient(to left, rgb(74, 77, 77) 10%, black 90%);
    transform: translateX(-155%);
}

.changed #right {
    opacity: 0;
    transform: translateX(80%);
}

.changed #left {
    z-index: 3;
    opacity: 1;
    transform: translateX(0%);
}

.formContainer.changed {
    transform: translateX(65%);
}

.changed #sign-in {
    opacity: 0;
}

.changed #sign-up {
    z-index: 3;
    opacity: 1;
    animation: show 0.6s;
}

#sign-in-status,
#sign-up-status {
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

#id-criteria,
#pw-criteria {
    width: 100%;
    padding-left: 20px;
}

#id-criteria .criteria,
#pw-criteria .criteria {
    width: 100%;
    text-align: left;
}

@keyframes show {
    0%,
    50% {
        z-index: 1;
        opacity: 0;
    }
    50.1%,
    100% {
        z-index: 3;
        opacity: 1;
    }
}
