:root {
    --color--main: #f0ffff;
    --color--black: #000000;
    --color--white: #ffffff;
    --color--darkgreen: #013030;
    --color--lightred: #ef5454;
    --light--grey: #f5f5f5;
    font-family: "Lora", "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color--main);
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    background-color: var(--color--white);
    border-bottom: 2px solid var(--light--grey);
}

#nav-left {
    display: flex;
    gap: 40px;
    align-items: center;
    height: 100%;
}

#nav-left #logo {
    font-family: "Lora", serif;
    font-size: 24px;
    /* width: 20%; */
    font-weight: 700;
    color: var(--color--darkgreen);
    text-decoration: none;
}

#nav-left #nav-choices {
    display: flex;
    align-items: center;
    height: 100%;
}

#nav-left #nav-choices li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    border-bottom: 3px solid transparent;
    transition: all 0.2s linear;
}

#nav-left #nav-choices li:hover,
#nav-left #nav-choices .active {
    cursor: pointer;
    border-bottom: 3px solid var(--color--darkgreen);
}

#nav-left #nav-choices li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    color: var(--color--black);
    text-decoration: none;
}

#nav-right {
    display: flex;
    align-items: center;
    height: 100%;
}

#nav-right #sign-out {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

#nav-right #sign-out-form {
    width: 100%;
    height: 100%;
    background-color: var(--color--white);
    border-bottom: 3px solid transparent;
    transition: all 0.2s linear;
}

#nav-right #sign-out-form:hover {
    border-bottom: 3px solid var(--color--darkgreen);
}
