<!-- partials/mybook/mybook-book -->

<li class="mybook">
    <div class="mybook-cover-container">
        <img class="mybook-cover" src="/img/images.jpg" alt="Book Cover">
    </div>
    <div class="mybook-details">
        <h3 class="mybook-title">The Sample Book</h3>
        <p class="mybook-author">by Author </p>
        <div class="btn-container">
            <input class="mybook-read-btn" type="button" value="Read">
            <input class="mybook-refund-btn" type="button" value="Refund">
        </div>
    </div>
</li>